div, * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

.container > div {
  flex-basis: 0;
  flex-grow: 1;
  padding: 10px;
}

.container > .sidebar {
  flex-basis: auto;
  flex-grow: 0;
  width: 500px;
}


.sidebar .pane {
  margin-bottom: 16px;
  border-top: 2px solid #BBB;
}
.sidebar .pane.pane-noseparator {
  border-top: 0;
}

.sidebar .pane h2 {
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 2px;

  text-transform: lowercase;
}


textarea.code {
  width: 100%;
  height: 100%;

  resize: vertical;

  background-color: transparent;
  color: #BBB;

  border: 1px solid transparent;
}
textarea.code:focus {
  border: 1px dotted white;
}

.code-text {
  font-family: monospace;
  white-space: pre-wrap;
  overflow-x: auto;
  color: #BBB;
}


.editor {
  min-height: 100%;

  background-color: #2e2e39;
  color: #BBB;

  font-size: 0.8em;
}

.code-ast-indent {
  margin-left: 15px;
}

.code-ast-keyword, .code-ast-identifier, .code-ast-literal {
  padding: 0 0.4em;
}
.code-ast-keyword {
  color: #ad5385;
}
.code-ast-identifier {
  color: #68a2ed;
}
.code-ast-literal {
  color: #ec584d;
}
.code-ast-brace {
  color: #939393;
}
.code-ast-brace-left {
  padding-left: 0.4em;
  margin-right: -0.4em;
}
.code-ast-brace-right {
  margin-left: -0.4em;
  padding-right: 0.4em;
}

.code-ast:hover {
  background-color: #535343;
}
.code-ast-node.highlightable:hover {
  background-color: #535343;
}

.code-ast-node.selected {
  background-color: #3b4509;
}


key {
  display: inline-block;

  padding: 4px;
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 6px;

  box-shadow: 0px 0px 2px #2d0404;
  background-color: #1b0635;
  color: #A397C9;
}


.pane-keymap ul {
  padding-left: 0;
  list-style: none;
}


.editor .message {
  color: #EEEEEE;
  padding: 5px;
  border-radius: 2px;
}
.editor .message.info {
  background-color: #578d1e;
}
.editor .message.warn {
  background-color: #8d741e;
}
.editor .message.error {
  background-color: #8d1e1e;
}


.pane {
  position: relative;
}

.autocomplete {
  position: absolute;
  top: 50%;
  left: calc(50% - 500px / 2);
  width: 500px;
}

.autocomplete > input {
  width: 100%;
}
